#nav {
}

#title-showcase {
    height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to right, #154360, #58D68D) 
}

#app-title {
    margin-top: 0;
    margin-bottom: -35px;
    padding: 0;
}

#app-tag {
    margin: 0;
    padding: 0;
}

.users-icon {
    font-size: 28px;
}

.philosopher-card {
    height: 400px;
    width: 300px;
}

.philosopher-card-img {
    height: 150px;
    width: 100px;
}

.explore-philosophers {
    display: flex;
}

